.profile
{
	margin-top:10%;
    display: inline-block;
    }


.img-verified{
	color: #1abc9c;
}

.titulo-apartado{
	margin-top: 20px;
    margin-bottom: 10px;
	color: #1abc9c;
}

   

.profile-name{
	margin: 5px 0 5px;
}


#clickeable{
	cursor:pointer;
}


.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    margin-bottom:3%;
    margin-top:3%;

    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0%;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

.information{
margin-bottom:3%;}
.name{
margin-bottom: 4%;
text-align:center;
}

.user-basic-information{

margin-top:2%;
}

.up-button{
  background: url(../images/arrow--up--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
}

.up-button:hover{
  background: url(../images/arrow--up--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
  -webkit-filter: brightness(70%);
  filter: bightness(70%);
}

.down-button{
  background: url(../images/arrow--down--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
}

.down-button:hover{
  background: url(../images/arrow--down--gray.png) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 28px;
  width: 44px;
  border:transparent;
  overflow: hidden;
  outline:none;
  -webkit-filter: brightness(70%);
  filter: bightness(70%);
}
